In [ ]:
sdadadasdasdasdsasdadad

In [42]:
a = [1,1,0,1,0]

print(a.pop(0))
print(a.pop())
print(a)

1
[1, 0, 1, 0]

In [17]:
for index, i in enumerate([1, 2, 3]):
    print(index, '------', i)

0 ------ 1
1 ------ 2
2 ------ 3

In [28]:
max(2, 3)

3

In [47]:
val = 1
nums = [1,1,2,3,4,5,6,3123,1,1,42,321,4,1,2]
while True:
    for index, i in enumerate(nums):
        if i == val:
            nums.pop(index)
    if val not in nums:
        break
        
        

nums

[2, 3, 4, 5, 6, 3123, 42, 321, 4, 2]

In [45]:
val = 100
nums = [1,1,2,3,4,5,6,3123,1,1,42,321,4,1,2]

if val not in nums:
    print('True')
else:
    print('False')

True

In [50]:
a = 3
b = 2

temp = b
b = a
a = temp

print(a)
print(b)

2
3

In [54]:
from collections import deque

linkedlist = deque()

linkedlist.append(1)
linkedlist.append(2)
JJJJJJJ

deque([1, 2])